<!DOCTYPE html>
<html>
<head>
  <title>SockChat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script>
(function() {
  $(function() {
    var socket;
    socket = new WebSocket("ws://" + window.location.host + "/chat");
    socket.onmessage = function(event) {
      if (event.data.length) {
        return $("#output").append("" + event.data + "<br>");
      }
    };
    return $("body").on("submit", "form.chat", function(event) {
      var $input;
      event.preventDefault();
      $input = $(this).find("input");
      socket.send($input.val());
      return $input.val(null);
    });
  });

}).call(this);
</script>
</body>
</html>
